<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StrangerSync</title>
    <link rel="stylesheet" href="/css/home_page.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <table>
            <tr>
              <td>
                <img src="/img/logo.png" alt="logo" class="logo" />
              </td>
              <td><h1>StrangerSync</h1></td>
            </tr>
          </table>
        </div>
      </nav>
    </header>
    <main>
      <div class="main-container">
        <h2>Welcome to Stranger Sync – Your Gateway to Meeting New People!</h2>
        <h3>Connect. Chat. Explore.</h3>
        <p>
          <strong>Stranger Sync</strong> is the ultimate platform to meet and
          chat with new people from around the world. Whether you're looking to
          make new friends, practice a new language, or just have a casual
          conversation, Stranger Sync makes it simple and fun. Dive into a world
          of endless possibilities, where every connection is a new adventure.
        </p>
        <div class="action-container">
          <h4>Start Chatting Now!</h4>
          <p>
            Hit the button below to dive into your first conversation on
            Stranger Sync. Your next friend is just a click away!
          </p>
          <div class="button-container">
            <button class="action-button">
              <a href="./text_chat">Text Chat</a>
            </button>
            <button class="action-button">
              <a href="./video_chat">Video Chat</a>
            </button>
          </div>
        </div>
        <br /><br /><br />
        <h3 class="centered-heading" style="font-size: 40px">Features</h3>
        <div class="features-container">
          <div class="feature-card">
            <h4 style="color: #fff6e9">Random Pairing</h4>
            <p>
              Get paired with a random stranger every time you hit "Start Chat."
              You never know who you might meet next!
            </p>
          </div>
          <div class="feature-card">
            <h4 style="color: #fff6e9">Interests Matching</h4>
            <p>
              Add your interests, and we'll try to pair you with someone who
              shares the same hobbies or topics.
            </p>
          </div>
          <div class="feature-card">
            <h4 style="color: #fff6e9">Safe and Secure</h4>
            <p>
              Our platform is designed to ensure your safety. We provide easy
              options to report and block inappropriate behavior.
            </p>
          </div>
          <div class="feature-card">
            <h4 style="color: #fff6e9">Language Practice</h4>
            <p>
              Looking to practice a new language? Use our interests feature to
              find someone who speaks the language you're learning.
            </p>
          </div>
          <div class="feature-card">
            <h4 style="color: #fff6e9">Global Community</h4>
            <p>
              Join a vibrant community of users from all over the world. Expand
              your horizons and make connections across different cultures.
            </p>
          </div>
        </div>
        <br /><br /><br />
        <h3 class="centered-heading" style="font-size: 40px">
          User Guidelines
        </h3>
        <div class="guidelines-container">
          <div class="guideline-card">
            <h4 style="color: #fff6e9">Respect Each Other</h4>
            <p>
              Treat everyone with kindness and respect. Harassment and abusive
              behavior are not tolerated.
            </p>
          </div>
          <div class="guideline-card">
            <h4 style="color: #fff6e9">Stay Safe</h4>
            <p>
              Never share personal information such as your address, phone
              number, or financial details.
            </p>
          </div>
          <div class="guideline-card">
            <h4 style="color: #fff6e9">Report Issues</h4>
            <p>
              Use the report button if you encounter any inappropriate behavior
              or content.
            </p>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
